@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background: black;
    font-family: 'Courier Prime', monospace;
}
.stopwatch{
    width: 1600px;
    max-width: 860px;
    background-image: linear-gradient(rgba(0,0,0,-1.2),rgba(0,0,0,-0.2)),url(image/bg.PNG);
    background-size: cover;
    background-position: center;  
    text-align: center;
    padding: 70px 0;
    color: #ffe;
    margin: 300px auto 0;
    box-shadow: 0 4px 100px;
}
.stopwatch h1{
    margin-top: 60px;
    font-size: 64px;
    font-weight: 300;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons img{
    width: 50px;
    margin: 0 20px;
    border-radius: 70px;
    cursor: pointer;
}
.buttons img:nth-child(2){
    width: 80px;
}
.lap{
list-style: none;
}